body{
    background-image: url('154818937333965.jpg');
    background-size: cover;
}
.q{
    font-size: 23px;
}

.r {
    margin-left: 1180px;
}
h1{
    margin-top: 200px;
}
.y{
    font-size: 26px;
}
h5{
    margin-top: 20px;
}
.u{
    margin-left: 46%;
    margin-top: 40px;
}


