.a{
    background-image: url('valentines-day-3089686_1280.png');
    background-repeat:no-repeat ;
    background-size:cover;
 }
 .navbar-brand{
    font-family:monospace;
    color:white;
    
 }
 .w{
   color: #fff;
   margin-left: 34%;
   margin-top: 2%;
   font-weight:700;
 }
 .r{
   margin-left: 28.5%;
   margin-top:25px;
color: #fff;
font-size: 20px;
font-weight:500;
 }
 .border{
   border: 20px;
   width: 400px;
   height: 250px;
   border-radius: 20px;
   background-color: #fff;
   margin-left: 34%;
   margin-top: 50px;
   margin-bottom: 80px;
 }
 .d{
   margin-left: 200px;
 }
 