
 .p{
    background-image: url('champagne-beach-espiritu-santo-island-vanuatu-royalty-free-image-1655672510.jpg');
    background-size:cover;

}
.q{
    margin-left: 70px;
    margin-top: 25px;
    margin-right: 120px;
    
}
.nav-link{
    border-radius: 20px;
    color: #000000;
}
.navbar-brand{
    color: white;
}
.btn {
    width: 120px;
     border-radius: 20px; 
}

.jumbotron{
    background: none;
}
.display-4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.d{

    color: rgb(0, 0, 0);
}

.j{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #ff8095;
}

.e{
    color: rgb(49, 49, 49);
}
.k{
    margin-left: 80px;
}
.x{
    margin-left: 80px;
}
.text-lg-center{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.s{
    margin-left: 50px;
    margin-right: 50px;
} 


