body{
   background: rgb(36, 36, 36);
}




.ww{
   background: rgb(86, 180, 49);
}
.e{
   border: 10px;
   color: black;
   width: 1030px;
   padding-left: 300px;
}
.r{
   text-align: center;
   color: antiquewhite;
   padding-right: 120px;
}
h2{
   font-size: 38px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.t{
   margin-top: 50px;
   padding-right: 170px; border: none;
}

.o{
   padding-right: 55px;
}
.u{
   padding-right: 165px;
   }
h6{
   font-size: 30px;
}